target
.project
.classpath
.settings
test-output
funnelmart_db*
*.swp
*.swo
*.DS_Store
cubed.mv.db
.idea
*.iml
.vagrant
Vagrantfile
derby.log
src/main/resources/static/funnelmart_debug.html
funnelmart-*
cubed-*
rhel*
/schemas
